* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    padding: 20px 0 10px 0;
}

main {
    padding: 1.5rem
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: midnightblue;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

.main-header__item-list {
    list-style: none;
    display: flex;
}

.main-header__item a {
    text-decoration: none;
    color: white;
    margin: 0 1.0rem
}

.main-header__item a.active,
.main-header__item a:hover {
    color: mediumspringgreen;
}

main {
    padding: 1.5rem;
    width: 40rem;
    max-width: 90%;
    margin: auto;
}